html {
	height: 100vh;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font: 12px/1.2 "Roboto", Helvetica, sans-serif;
	min-height: 100%;
	height: 100%;
	min-width: 320px;
	position: relative;
	color: #000;
	background: #fff;
	padding-top: 80px;
}

@media screen and (max-width: 991px) {
	body {
		padding-top: 10px;
	}
}

a {
	color: var(--main-accent-color);
}

@media screen and (min-width: 992px) {
	a:hover {
		color: var(--additional-accent-color);
		text-decoration: none;
	}
}

input {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}

* {
	outline: none;
}

* {
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

* ::-moz-selection {
	background: var(--additional-accent-color);
	color: #fff;
}

* ::selection {
	background: var(--additional-accent-color);
	color: #fff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #999;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #999;
	opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #999;
	opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #999;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input.placeholder, textarea.placeholder {
	color: #999 !important;
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	padding: 0 20px;
}

h1 {
	font-size: 3.157em;
	font-family: 'Play', sans-serif;
}

h2 {
	font-size: 2.369em;
	font-family: 'Play', sans-serif;
}

h3 {
	font-size: 1.777em;
	font-family: 'Play', sans-serif;
}

h4 {
	font-size: 1.333em;
	font-family: 'Play', sans-serif;
}

h5 {
	font-size: 1em;
	font-family: 'Play', sans-serif;
}

h6 {
	font-size: 0.75em;
	font-family: 'Play', sans-serif;
}

.title {
	margin: 0 0 20px;
}

.image-wrapper {
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}

button {
	cursor: pointer;
	background: none;
	padding: 0;
	border: none;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn {
	padding: 1rem;
	color: #fff;
	position: relative;
	max-width: 250px;
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1px;
	background-color: var(--main-accent-color);
	transition: all .8s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	.btn:hover {
		color: #fff;
		box-shadow: inset 0 0 15px 5px var(--additional-accent-color);
	}
}

table {
	width: 100%;
	max-width: 750px;
	margin: 1.5em auto;
	border: 1px solid var(--additional-accent-color);
	border-spacing: 0;
	border-collapse: collapse;
	font-size: .9em;
}

table td {
	border: 1px solid var(--additional-accent-color);
	padding: 15px;
	font-size: 1.2em;
}

ul, ol {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 20px;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.breadcrumbs li {
	margin-right: 10px;
}

.breadcrumbs li:not(:last-child):after {
	content: '>>';
	margin-left: 10px;
}

.header {
	padding: 20px;
	background-color: #fff;
	display: grid;
	grid-template-columns: 90px 1fr;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	max-height: 130px;
	z-index: 2;
	transition: all .8s ease;
}

.header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.header .logo-img {
	height: 90px;
	width: auto;
	transition: all .8s ease;
}

.header.active {
	padding: 5px 20px;
}

.header.active .logo-img {
	height: 70px;
	width: auto;
}

@media screen and (max-width: 991px) {
	.header {
		padding: 5px 20px;
	}
	.header .logo-img {
		height: 70px;
		width: auto;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 991px) {
	.menu {
		justify-content: flex-end;
	}
}

.main-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Play', sans-serif;
}

.main-menu__item {
	padding: 0 15px;
	list-style: none;
}

.main-menu__item a {
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all .8s ease;
}

@media screen and (min-width: 992px) {
	.main-menu__item a:hover {
		color: var(--additional-accent-color);
	}
}

.main-menu .submenu-wrapper {
	position: relative;
}

.main-menu .submenu-wrapper .submenu {
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.main-menu .submenu-wrapper .submenu li a {
	display: block;
	padding: 15px;
}

@media screen and (min-width: 992px) {
	.main-menu .submenu-wrapper:after {
		content: '';
		background-image: url(../images/angle-down-svgrepo-com.svg);
		background-repeat: no-repeat;
		background-position: center;
		line-height: 100%;
		position: absolute;
		top: 100%;
		left: 50%;
		width: 100%;
		height: 20px;
		transform: translateX(-50%);
		text-align: center;
	}
	.main-menu .submenu-wrapper .submenu {
		display: none;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 250px;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0 0 6px 0px #000;
	}
	.main-menu .submenu-wrapper .submenu li a {
		background-color: #fff;
	}
	.main-menu .submenu-wrapper:hover .submenu {
		display: block;
	}
	.main-menu .submenu-wrapper:hover .submenu li a:hover {
		background-color: #cecece;
		box-shadow: inset;
	}
}

@media screen and (max-width: 991px) {
	.main-menu .submenu-wrapper > a:after {
		content: '';
		background-image: url(../images/chevron-right-svgrepo-com.svg);
		background-repeat: no-repeat;
		background-position: center;
		line-height: 100%;
		background-size: 25px 25px;
		display: inline-block;
		width: 20px;
		height: 20px;
		text-align: center;
		transition: transform .4s ease;
	}
	.main-menu .submenu-wrapper > a + .submenu {
		display: none;
	}
	.main-menu .submenu-wrapper > a.active:after {
		transform: rotate(90deg);
	}
	.main-menu .submenu-wrapper > a.active + .submenu {
		display: block;
	}
}

@media screen and (max-width: 991px) {
	.main-menu {
		flex-direction: column;
		position: absolute;
		top: calc(100% + 15px);
		left: -400px;
		width: 300px;
		background: var(--main-accent-color);
		padding: 0;
		margin: 0;
		align-items: flex-start;
		border-radius: 10px;
		transition: all .8s ease;
	}
	.main-menu.active {
		display: flex;
		justify-content: flex-start;
		left: 20px;
		max-height: calc(100vh - 110px);
		overflow: auto;
	}
	.main-menu__item {
		padding: 15px;
		width: 100%;
	}
	.main-menu__item:focus {
		background-color: var(--additional-accent-color);
	}
}

.mobile-menu-icon {
	display: none;
	margin-right: 30px;
}

.mobile-menu-icon svg {
	width: 40px;
	height: 40px;
	stroke: #000;
}

@media screen and (max-width: 991px) {
	.mobile-menu-icon {
		display: block;
	}
}

.main {
	margin: 0;
	height: 100%;
	background-size: 50px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: repeat;
	background-color: #fff;
	background-image: url(../images/logo-big.webp);
	background-size: 600px;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.main article {
	min-height: 100%;
	margin: 80px 0 0;
}

.main article figure {
	margin: 0;
	text-align: center;
}

@media screen and (max-width: 991px) {
	.main {
		padding-bottom: 10px;
	}
}

.main p {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.9em;
	font-weight: 400;
}

.main-title {
	padding: 30px;
	background-color: gray;
}

.main-title h1 {
	margin: 0;
	color: var(--main-accent-color);
}

.main-wrapper {
	border-radius: 10px;
	min-height: 100%;
	color: #000;
	background-color: rgba(255, 255, 255, 0.94);
}

#anchors-list + nav {
	display: none;
}

#anchors-list:checked + nav {
	display: block;
}

.footer {
	height: 1px;
	display: table-row;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.footer .scroll-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	background: var(--main-accent-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .5;
	transition: all .8s ease;
}

@media screen and (max-width: 991px) {
	.footer .scroll-top {
		right: 10px;
		bottom: 10px;
	}
}

@media screen and (min-width: 992px) {
	.footer .scroll-top:hover {
		box-shadow: inset 0 0 15px 5px var(--additional-accent-color);
	}
}

.footer .scroll-top.active {
	cursor: pointer;
	opacity: 1;
}

.footer .scroll-top svg {
	width: 25px;
	stroke: #fff;
}

.footer .footer-wrapper {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer .menu {
	margin-bottom: 30px;
}

.footer .menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	font-family: 'Play', sans-serif;
	font-size: 18px;
}

@media screen and (max-width: 991px) {
	.footer .menu__list {
		flex-direction: column;
	}
}

.footer .menu__item {
	padding: 0 15px;
	list-style: none;
}

@media screen and (max-width: 991px) {
	.footer .menu__item {
		padding: 10px;
	}
}

.footer .menu__item a {
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	transition: all .8s ease;
}

@media screen and (min-width: 992px) {
	.footer .menu__item a:hover {
		color: var(--additional-accent-color);
	}
}

.footer .copyright {
	margin: 20px 0;
	font-family: 'Play', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--main-accent-color);
}

.footer-logo img {
	height: 200px;
}
